/*
Hier kannst du dein eigenes CSS einfügen.

Klicke auf das Hilfe-Symbol oben, um mehr zu lernen.
*/

@media (min-width:980px) and (max-width:1246px) {
    .et_pb_row .et_pb_column.db_pb_column_1_5_menu_l {
        width: 85px !important;
        margin-left: 0px !important;
    }
}
@media (min-width:1246px) {
    .et_pb_row .et_pb_column.db_pb_column_1_5_menu_l {
        width: 85px !important;
        margin-left: 160px !important;
    }
}
@media (min-width:980px) and (max-width:1246px) {
    .et_pb_row .et_pb_column.db_pb_column_3_5_menu {
        width: calc(83% - 85px) !important;
        padding-right: 1%;
    }
}
@media (min-width:1246px) {
    .et_pb_row .et_pb_column.db_pb_column_3_5_menu {
        width: calc(80% - 245px) !important;
    }
}
@media (min-width:980px) and (max-width:1246px) {
    .et_pb_row .et_pb_column.db_pb_column_1_5_menu_r {
        width: 17% !important;
    }
}
@media (min-width:1246px) {
    .et_pb_row .et_pb_column.db_pb_column_1_5_menu_r {
        width: 20% !important;
    }
}
.h2vers {
    font-size: 13pt;
    font-weight: bold;
}
@media screen and ( min-width: 768px) {
    .edit-post-visual-editor .editor-post-title, .edit-post-visual-editor .editor-block-list__block {
        max-width: 1100px;
    }
}
.edit-post-visual-editor .editor-block-list__block[data-align="wide"] {
    max-width: 1300px;
}
nav#ubermenu-main-3 {
    position: absolute;
    top: 0px;
    right: 0;
    vertical-align: bottom;
}
@media only screen and (max-width: 980px) {
    .two-column-layout .et_pb_module_80 {
        width: 80%;
        float: right;
        margin-top: 0px;
    }
    .two-column-layout .et_pb_module_20 {
        width: 20%;
        float: left;
    }
}

/* fixing triple-header-loading-issue */

@media only screen and (max-width: 980px) and (min-width: 768px) {
    .et_pb_section_0_tb_header {
        display: none!important;
    }
}
@media only screen and (max-width: 980px) and (min-width: 768px) {
    .et_pb_section_2_tb_header {
        display: none!important;
    }
}
@media only screen and (min-width: 981px) {
    .et_pb_section_1_tb_header {
        display: none!important;
    }
}
@media only screen and (min-width: 981px) {
    .et_pb_section_2_tb_header {
        display: none!important;
    }
}
@media only screen and (max-width: 767px) {
    .et_pb_section_0_tb_header {
        display: none!important;
    }
}
@media only screen and (max-width: 767px) {
    .et_pb_section_1_tb_header {
        display: none!important;
    }
}

/*** Custom DB-Chapter-Button Customized***/


/*** Button 1 ***/


/*** Standard Button ***/

body .et_pb_section .db_chapter_button_1 {
    border-color: #7ebec5;
    align-content: space-around;
    padding: 0.3em 1.35em 0.3em 1.35em;
    box-shadow: 3px 3px 7px -2px rgba(0, 0, 0, 0.3);
}
body .et_pb_section .db_chapter_button_1:hover {
    padding: 0.3em 2em 0.3em 0.7em;
    border-color: #fff;
    color: #fff;
}
@media (min-width: 768px) {
    body .et_pb_section .db_chapter_wrapper {
        float: left;
        margin-right: 20px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .db_chapter_wrapper {
        float: left;
        margin-right: 5px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}

/*** Custom DB-Chapter-Button Customized***/


/*** Button 2 ***/


/*** Standard Button ***/

@media (max-width: 767px) {
    .db_chapter_button_2 {
        border-color: #7ebec5;
        align-content: space-around;
        padding: .2em .5em .2em .5em;
        box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.3);
    }
    body .et_pb_section .db_chapter_button_2:hover {
        padding: .2em .5em .2em .5em;
        border-color: #fff;
        color: #fff;
        background-color: #7ebec5;
    }
    body .et_pb_section .db_chapter_button_2.db_bt_2_9 {
        padding: .2em .78em .2em .78em;
    }
    body .et_pb_section .db_chapter_button_2.db_bt_2_9:hover {
        padding: .2em .78em .2em .78em;
    }
}
@media (min-width:768px) {
    body .et_pb_section .db_chapter_button_2 {
        border-color: #7ebec5;
        align-content: space-around;
        padding: 0.3em 1.35em 0.3em 1.35em;
        box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.3);
    }
    body .et_pb_section .db_chapter_button_2:hover {
        padding: 0.3em 2em 0.3em 0.7em;
        border-color: #fff;
        color: #fff;
        background-color: #7ebec5;
    }
    body .et_pb_section .db_chapter_button_2.db_bt_2_9:hover {
        padding: 0.3em 2.2em 0.3em 1.1em;
    }
    body .et_pb_section .db_chapter_button_2.db_bt_2_9 {
        padding: 0.3em 1.63em 0.3em 1.63em;
    }
}

/* Breadcrumbs -> Structured */

ol.db_breadcrumbs_list {
    list-style-type: none !important;
}
ol.db_breadcrumbs_list li {
    float: left;
}
ol.db_breadcrumbs_list li a.db_bcrumbs::before {
    content: '';
    font: normal normal normal 14px/1 ETmodules;
}
ol.db_breadcrumbs_list li span::before {
    content: '5';
    font: normal normal normal 14px/1 ETmodules;
    padding: 0;
}
ol.db_breadcrumbs_list li span::before {
    padding-left: 2px;
}
.db_breadcrumbs_list.db_bc a:hover {
    color: #417379;
}
.db_breadcrumbs_list.db_bc_white a:hover {
    color: white;
}
.db_breadcrumbs_list.db_bc_dark {
    color: white;
}
.db_breadcrumbs_list.db_bc_dark a:hover {
    color: white;
    font-weight: bold;
}
.db_breadcrumbs_list.db_bc_dark li a {
    color: white;
}

/*** Depreciated ***/

.db_breadcrumbs_list.db_bc_dark_color {
    color: white;
}
.db_breadcrumbs_list.db_bc_dark_color a:hover {
    color: white;
    font-weight: bold;
}
.db_breadcrumbs_list.db_bc_dark_color li a {
    color: white;
}
.db_breadcrumbs_list.db_bc_dark_color li a:hover {
    color: white;
    font-weight: bold;
}
ol.db_breadcrumbs_list.db_bc_dark_color li:last-of-type {
    color: white;
}
ol.db_breadcrumbs_list li:last-of-type {
    color: #7ebec5;
}

/*** FOooter ***/

.db_footer {
    padding-bottom: 1em !important;
    font-weight: bold;
    font-size: 16px;
}
.db_footer_sub {
    padding-bottom: 0.3em !important;
    font-weight: bold;
}
.db_chapter_wrapper.deactivated {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/*** Tablepress Customisation ***/

.db_table_border_center.tablepress tbody td {
    border: 2px solid #ddd;
}
.db_table_head_bg.tablepress tbody tr.row-1 {
    background-color: #ececece6;
}
.db_col_3 tbody td {
    width: 33%;
}
.db_col_4 tbody td {
    width: 25%;
}

/*** Chapter-Tabs ***/

@media (max-width: 767px) {
    .tabs_bible.tabs_overview.tabs_many li {
        float: left;
        border-right: 1px solid #D9D9D9;
        width: calc(100% / 6);
        text-align: center;
        min-width: 40px;
    }
    .tabs_bible.tabs_overview.tabs_many li a {
        display: block;
        padding: 4px 0;
    }
}
@media (min-width: 767px) {
    .tabs_bible.tabs_overview.tabs_many li {
        min-width: 77px;
    }
}

/***** Chapter-Tabs***/

.tabs_bible ul.et_pb_tabs_controls:after, .tabs_bible_chapter ul.et_pb_tabs_controls:after {
    border-top: none;
}
.tabs_bible ul.et_pb_tabs_controls, .tabs_bible_chapter ul.et_pb_tabs_controls {
    background: none;
}
.tabs_bible ul.et_pb_tabs_controls li, .tabs_bible_chapter ul.et_pb_tabs_controls li {
    border-bottom: 1px solid #D9D9D9;
}
.tabs_bible .et_pb_tabs_controls li:not(.et_pb_tab_active):last-child {
    border-right: 1px solid #D9D9D9;
}
.tabs_bible_chapter .et_pb_tabs_controls li:not(.et_pb_tab_active) {
    border: 1px solid #D9D9D9;
}
.tabs_bible_chapter.et_pb_tabs, .tabs_bible_chapter.et_pb_wc_tabs {
    border: none;
}
.tabs_bible_chapter .et_pb_all_tabs {
    border: 1px solid #D9D9D9;
}

/*** removing padding from table ***/

.tabs_bible_chapter .et_pb_tab.et_pb_tab_1, .tabs_bible_chapter .et_pb_tab.et_pb_tab_2 {
    padding: 0px;
}